/* CSS BY H.Shultz */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
figure,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ROOT VARIABLES */
:root {
  --teal: #4CA7C0;
  --purple: #484FB7;
  --lavender: #6B8FE7;
  --yellow: #E9BB57;
  --pink: #D9526F;
  --dark: #1E1E1E;
  --white: #ffffff;

  --radius: 16px;
  --shadow: 0 6px 14px rgba(0, 0, 0, .12);
  --max: 450px;

  --fs-h1: 3em;
  --fs-navh2: 1.5em;
  --fs-h2: 2em;
  --fs-h3: 1.5em;
  --fs-h4: 1.15em;
}

/* GLOBAL STYLES (mobile first/small) */
html,
body {
  background: #6f92ed;
  color: var(--dark);
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.6;
}

.site {
  margin: 0 auto;
  max-width: var(--max);
  background: var(--white);
  min-height: 100svh;
  box-shadow: var(--shadow);
}

/* Header */
.site-header {
  background: var(--purple);
  color: var(--white);
  text-align: center;

}

.brand {
  font-family: "Kavoon", serif;
  font-size: var(--fs-h1);
  font-weight: 500;
  padding: 20px 0px 0px;
}

.tagline {
  font-size: 1rem;
  font-weight: 600;
  margin: 0px 0px 40px 0px;
  font-style: italic;
}

/* MENU */
.nav-title {
  font-size: var(--fs-navh2);
  margin: 0px 5px;
  font-weight: 800;
  font-style: italic;
  color: var(--dark);
}

.menu {
  display: grid;
  padding: 8px 0px;
}

.menu a {
  display: block;
  background: var(--white);
  color: var(--purple);
  margin: 10px 30px;
  padding: 10px 14px;
  font-weight: 800;
  text-align: center;
}

.menu {
  background: var(--yellow);
  border-color: var(--yellow);
}

/* SECTIONS */
.section {
  padding: 5px 5px;
  background: var(--purple)
}

.section-head {
  color: var(--white);
  border-radius: 12px;
  padding: 4px 10px 0px;
  
}

.section-head h2 {
  color: var(--white);
  font-family: "Kavoon", serif;
  font-size: var(--fs-h2);
  line-height: 1.1;
  font-weight: 400;
}


.section-subhead h3 {
  font-size: var(--fs-h3);
  margin: 0px 10px;
  color: var(--yellow);
  font-weight: 800;
}

/* CARDS */
.card-grid {
  display: grid;
  gap: 12px;
  margin-bottom: 10px;
  padding: 20px;
}

.card {
  display: grid;
  font-weight: 550;
  gap: 12px;
  background: var(--white);
  border-radius: var(--radius);
  padding: 25px;
  box-shadow: var(--shadow);
}

.card-icon {
  width: 100px;
  height: 100px;
  border-radius: 14px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.card-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-body h3 {
  font-size: var(--fs-h3);
  margin-bottom: 4px;
  color: var(--lavender);
}

.card-body h4 {
  font-size: var(--fs-h4);
  margin-bottom: 4px;
  color: var(--purple);
}

/* WHY CHOOSE US */

.section-pink {
  background: var(--pink);
  padding: 10px;
}

.pill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.pill {
  background: var(--pink);
  color: var(--white);
  font-weight: 800;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.pill:nth-child(1) {
  background: var(--teal);
  color: var(--dark);
}

.pill:nth-child(2) {
  background: var(--lavender);
  color: var(--dark);
}

.pill:nth-child(3) {
  background: var(--yellow);
  color: var(--dark);
}

.pill:nth-child(4) {
  background: var(--white);
  color: var(--dark);
}

/* PRICING */

.price-table {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background: var(--yellow);
  border-collapse: separate;
}

.price-head th {
  font-size: 12pt;
  font-weight: 800;
  color: var(--dark);
  border-radius: 4px;
  padding: 10px 8px;
  text-align: center;
}

.price-table tbody tr {
  border: 3px solid #c7cffd;
}

.price-table td {
  background: #f7f8ff;
  padding: 10px 12px;
  font-weight: 600;
  border-spacing: 100px;
  width: 1%;
  white-space: nowrap;
  text-align: left;
  font-weight: 600;
}


/* FIRST STEP */

.step {
  color: var(--white);
  font-weight: 600;
  padding: 4px;
}

.button {
  display: block;
  width: 80%;
  text-align: center;
  background: var(--white);
  color: var(--dark);
  font-weight: 700;
  padding: 14px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 3px ;
  margin: 12px auto 0;
}

/* FOOTER */

.site-footer {
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 24px 16px 36px;
  color: var(--white);
  background: var(--purple);
}